.container {
    width: 1900px;
    margin: 0 auto;
    text-align: center;
}

.container-content {
    width: 1170px;
    margin: 0 auto;

}

.header-navbar {
    display: flex;
    background-color: #313131;
}

.top-menu-logo-container {
    display: flex;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.top-menu-logo-pic {
    padding: 22px 27px;
}

.top-menu-company-name {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}

.top-menu-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.top-menu-nav-item {
    padding-left: 35px;
}

.top-menu-text {
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.top-menu-search-box {
    background-color: #000000;
}

.top-menu-search-pic {
    padding: 27px;
}

/*linear-gradient(#313131, rgba(47, 49, 49, 0.35)),*/
.header-latest-news-box {
    background-image: linear-gradient(#31313177, rgba(47, 49, 49, 0.35)), url(../img/headerback.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding-top: 164px;
    padding-bottom: 74px;
}

.latest-news-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-news-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
}

.latest-news-buttons {
    width: 360px;
    margin-top: 44px;
    display: flex;
    justify-content: space-between;
}

.latest-news-button-text {
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.latest-news-button-description {
    padding: 16px 19px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.green-button {
    background-color: #89CA62;
}

.blue-button {
    background-color: #14B9D5;
}

.most-popular {
    padding-bottom: 42px;
    background: #F2F2F2;
}

.blue-title {
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    padding: 50px 0;
}

.most-popular-items {
    height: 870px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.most-popular-card {
    text-align: center;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.most-popular-card-stretch {
    margin-bottom: 30px;
}

.most-popular-card-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    margin: 21px 0;
}

.popular-clients {
    background-image: url(../img/mostpopularclients.jpeg);
    padding-top: 106px;
    padding-bottom: 185px;
}

.popular-clients-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.popular-clients-line {
    width: 60px;
    height: 3px;
    margin: 94px auto;
    border: none;
    background: #18B4CF;
}

.popular-client-box {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
}

.top-rated {

}

.top-rated-project-box {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
}

.hot-news {
    margin-bottom: 72px;
}

.hot-news-item-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353A3D;
    margin: 15px 15px
}

.hot-news-item-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;
}

/*.hot-news-item-image {*/
/*    width: 100%;*/
/*}*/
.fit-size-img {
    width: 100%;
}

.hot-news-item-box {
    display: grid;
    justify-items: flex-start;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2vw;
    grid-row-start: auto;
}

.hot-news-post-item {
    width: 100%;
    /*height: fit-content;*/
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.vertical {

    display: grid;
    align-items: center;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);

}

.vertical-small-text {
    text-align: center;
}

.hot-news-text-box {
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}

.column-size-wide-left {
    grid-column: 1 / span 3;
}

.column-size-wide-right {
    grid-column: 2 / span 3;
}

.column-size-long-left {
    grid-column: 1 / span 2;
}

.column-size-long-right {
    grid-column: 3 / span 2;
}

.bottom-side {
    background: #000000;
    padding: 30px 0;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.all-right-reserved-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}

.footer-logo {
    display: grid;
    grid-gap: 3px;
    grid-auto-flow: column;
    justify-content: center;
}

.footer-info {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
}